<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979869237827-86llv1le2epet596ssuduv2kbocqm37q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979869237827-86llv1le2epet596ssuduv2kbocqm37q</string>
	<key>API_KEY</key>
	<string>AIzaSyB0YEJcZnohY1JOXF25GqII1eADmMAucMA</string>
	<key>GCM_SENDER_ID</key>
	<string>979869237827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>irynahorbachova.TeaChat</string>
	<key>PROJECT_ID</key>
	<string>teachat-4685e</string>
	<key>STORAGE_BUCKET</key>
	<string>teachat-4685e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979869237827:ios:df9da147ab8437a9274af6</string>
	<key>DATABASE_URL</key>
	<string>https://teachat-4685e.firebaseio.com</string>
</dict>
</plist>